/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight);
}

.container {
  margin: 0 auto;
  margin-block-start: 100px;
  inline-size: var(--inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  outline: 2px solid var(--main-color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.card {
  margin-block-end: 50px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.image__wrapper {
  position: relative;
  margin: 0;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid #000;
  block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 100%;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  -webkit-text-stroke: 1px #fff;
  mix-blend-mode: hard-light;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  background-color: var(--bg-color);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  cursor: pointer;
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
  border: 2px solid var(--main-color);
  padding: 17px 20px;
  background-color: var(--bg-color);
  cursor: pointer;
  margin-block-end: 100px;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.sparks {
  fill: transparent;
  transition: fill 0.3s linear;
}

.floppy {
  display: block;
  inline-size: 21px;
  block-size: 21px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  block-size: 191px;
  inline-size: 353px;
}

.modal::backdrop {
  background-color: var(--main-color);
  opacity: 75%;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.modal__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  max-inline-size: 234px;
}

.modal__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  cursor: pointer;
  text-transform: uppercase;
  padding-block: 12.5px;
}

@media (width <=375px) {
  .save__button {
    flex-direction: column;
  }
  
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal[open] {
    padding-inline: 40px;
  }
}
