/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Общие стили */
.page {
  font-family: var(--main-font);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight);
}

.container {
  margin: 0 auto;
  margin-block-start: 100px;
  inline-size: var(--inline-size);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  outline: 2px solid var(--main-color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.card {
  margin-block-end: 50px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.image__wrapper {
  position: relative;
  margin: 0;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid #000;
  block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
}

/* Фильтры */
.filter-rotate {
  filter: hue-rotate(160deg);
}

.filter-invert {
  filter: invert(100%);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-blur {
  filter: blur(3px);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-miltiply-gradient {
  filter: contrast(150%) brightness(150%) saturate(150%);
}

.card__image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff), 1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--bg-color);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  -webkit-text-stroke: 1px #fff;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--text-stroke-color)) or
  (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__image-label {
    text-shadow: none;
    text-stroke: 1px var(--text-stroke-color);
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0;
  outline-color: transparent;
  background-color: var(--bg-color);
  transition: outline 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
}

.card__like-button {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  block-size: 38px;
  inline-size: 130px;
}

/* Общие стили для кнопки */
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

/* Стили для анимации заполнения */
.button::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  color: var(--mix-blend-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

/* Кнопка "Сохранить на память" */
.save__button {
  gap: 8px;
  margin: auto;
  margin-block-end: 100px;
  border: 2px solid var(--main-color);
  padding: 17px 20px;
  background: var(--bg-color);
}

/* Сброс состояния focus */
.card__like-button:focus,
.save__button:focus,
.modal__button:focus {
  outline: none;
}

/* Тень при табуляции */
.card__like-button:focus-visible,
.save__button:focus-visible,
.modal__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

/* Сердце в стандартном состоянии */
.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.heart:hover .core {
  fill: var(--main-color);
  transition-delay: 0s;
}

.heart:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.heart:hover .main-body {
  fill: var(--main-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.heart:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

/* Анимация лайка */
.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-animation 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s;
}

/* Иконка дискеты */
.floppy {
  fill: var(--mix-blend-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.modal:not([open]) {
  display: none;
  pointer-events: none;
}

/* Открытый диалог */
.modal[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  block-size: 191px;
  inline-size: 353px;
}

.modal::backdrop {
  opacity: 0.75;
  background-color: var(--main-color);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.modal__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  max-inline-size: 234px;
}

.modal__floppy {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  border: 2px solid var(--main-color);
  padding-block: 12.5px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

@media (width <=375px) {
  .save__button {
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal[open] {
    padding-inline: 40px;
  }

  .modal__content {
    gap: 16px;
  }
}
